<div ng-show="vm.showOptions()">
    <div class="panel panel-info">
        <div class="panel-heading">Options: <i class="fa fa-cog fa-lg pull-right"></i></div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item  active"
                    ng-click="vm.gameModesExpanded = !vm.gameModesExpanded">
                    <i class="fa fa-lg" ng-class="{'fa-caret-down': !!vm.gameModesExpanded, 'fa-caret-right': !vm.gameModesExpanded}"></i>
                    Game Modes
                </li>
                <li class="list-group-item"
                    ng-if="vm.gameModesExpanded"
                    ng-repeat="gm in vm.gameModes.all()">
                    {{gm}}
                    <i class="fa fa-times-circle fa-lg pull-right text-danger"
                       title="Delete"
                       ng-click="vm.gameModes.remove(gm)"
                       ng-if="vm.gameModes.all().length > 1"></i>
                </li>
                <li class="list-group-item"
                    ng-if="vm.gameModesExpanded">
                    <form class="form-inline" ng-submit="vm.addNewGameMode()">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="add new Game Mode" ng-model="vm.newGameMode">
                                <div class="input-group-addon"><i class="fa fa-lg fa-plus-circle pull-right text-success" ng-click="vm.addNewGameMode()"></i></div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item  active"
                    ng-click="vm.seasonsExpanded = !vm.seasonsExpanded">
                    <i class="fa fa-lg" ng-class="{'fa-caret-down': !!vm.seasonsExpanded, 'fa-caret-right': !vm.seasonsExpanded}"></i>
                    Seasons
                </li>
                <li class="list-group-item"
                    ng-if="vm.seasonsExpanded"
                    ng-repeat="gm in vm.seasons.all()">
                    {{gm}}
                    <i class="fa fa-times-circle fa-lg pull-right text-danger"
                       title="Delete"
                       ng-click="vm.seasons.remove(gm)"></i>
                </li>
                <li class="list-group-item"
                    ng-if="vm.seasonsExpanded">
                    <form class="form-inline" ng-submit="vm.addNewSeason()">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="add new Season Mode" ng-model="vm.newSeason">
                                <div class="input-group-addon"><i class="fa fa-lg fa-plus-circle pull-right text-success" ng-click="vm.addNewSeason()"></i></div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <p><strong>Note</strong>: Deleting game modes, seasons or columns will not delete the saved data. Data can be recovered by re-adding a game mode, season or column of the same name.</p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" ng-click="vm.dismiss()">Close</button>
        </div>
    </div>
</div>