<div ng-show="vm.showOptions()">
    <div class="panel panel-info">
        <div class="panel-heading">Options: <i class="fa fa-cog fa-lg pull-right"></i></div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item  active"
                    ng-click="vm.gameModesExpanded = !vm.gameModesExpanded">
                    <i class="fa fa-lg" ng-class="{'fa-caret-down': !!vm.gameModesExpanded, 'fa-caret-right': !vm.gameModesExpanded}"></i>
                    Game Modes
                </li>
                <li class="list-group-item"
                    ng-if="vm.gameModesExpanded"
                    ng-repeat="gm in vm.gameModes.all()">
                    {{gm}}
                    <i class="fa fa-times-circle fa-lg pull-right text-danger"
                       title="Delete"
                       ng-click="vm.gameModes.remove(gm)"
                       ng-if="vm.gameModes.all().length > 1"></i>
                </li>
                <li class="list-group-item"
                    ng-if="vm.gameModesExpanded">
                    <form class="form-inline" ng-submit="vm.addNewGameMode()">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="add new Game Mode" ng-model="vm.newGameMode" title="add new Game Mode, e.g. for another region">
                                <div class="input-group-addon"><i class="fa fa-lg fa-plus-circle pull-right text-success" ng-click="vm.addNewGameMode()"></i></div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item  active"
                    ng-click="vm.columnsExpanded = !vm.columnsExpanded">
                    <i class="fa fa-lg" ng-class="{'fa-caret-down': !!vm.columnsExpanded, 'fa-caret-right': !vm.columnsExpanded}"></i>
                    Columns
                </li>
                <li class="list-group-item"
                    ng-if="vm.columnsExpanded">
                    Cubed
                </li>
                <li class="list-group-item"
                    ng-if="vm.columnsExpanded"
                    ng-repeat="column in vm.columns.all()">
                    {{column}}
                    <i class="fa fa-times-circle fa-lg pull-right text-danger"
                       title="Delete"
                       ng-click="vm.columns.remove(column)"></i>
                </li>
                <li class="list-group-item"
                    ng-if="vm.columnsExpanded">
                    <form class="form-inline" ng-submit="vm.addNewColumn()">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="add new Column" ng-model="vm.newColumn" title="add new column, e.g. Anchient/Transmog">
                                <div class="input-group-addon"><i class="fa fa-lg fa-plus-circle pull-right text-success" ng-click="vm.addNewColumn()"></i></div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            <p><strong>Note</strong>: Deleting game modes or columns will not delete the saved data. Data can be recovered by re-adding a game mode, season or column of the same name.</p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" ng-click="vm.dismiss()">Close</button>
        </div>
    </div>
</div>