<item-filter
    filter-value="vm.itemFilter"
    filter-over-all="vm.filterOverAll"
    hide-cubed="vm.hideCubed"
    only-cubable="vm.onlyCubable"
    ></item-filter>

<table class="table table-kenais">
    <thead>
        <th>Name</th>
        <th ng-repeat="column in vm.allColumns()" class="text-center">{{column}}</th>
        <th>Affix</th>
    </thead>
    <tr ng-repeat="item in vm.items | orderBy:'name' | filter: vm.itemFilter" ng-if="vm.isVisible(item)">
        <td>
            <a ng-href="{{vm.link(item)}}" class="d3-link {{item.displayColor}}" target="_d3">{{item.name}}</a>
            <i class="season-small" ng-show="vm.isSeasonal(item)" title="current season"></i>
            <i class="bounty-cache" ng-show="vm.isBounty(item)" title="{{vm.bountyTitle(item)}}"></i>
            <i class="crafted" ng-show="vm.isCrafted(item)" title="crafted"></i>
        </td>
        <td class="text-center check" ng-repeat="column in vm.allColumns()" ng-click="vm.toggle(item, column)" ng-class="vm.cellClass(item, column)">
            <i class="fa item-checked"></i>
        </td>
        <td>{{item.passive}}</td>
    </tr>
</table>