<item-filter filter-value="vm.itemFilter"></item-filter>
<section-picker></section-picker>

<div ng-repeat="section in vm.sections" ng-show="vm.section() == section">
    <table class="table table-kenais">
        <thead>
            <th>Name</th>
            <th ng-repeat="column in vm.allColumns()">{{column}}</th>
            <th>Affix</th>
        </thead>
        <tr ng-repeat="item in vm[section] | orderBy:'name' | filter: vm.itemFilter" ng-if="vm.isVisible(item)">
            <td>{{item.name}}</td>
            <td class="text-center check" ng-repeat="column in vm.allColumns()" ng-click="vm.toggle(item, column)" ng-class="vm.class(item, column)">
                <i class="fa item-checked"></i>
            </td>
            <td>{{item.affix}}</td>
        </tr>
    </table>
</div>