<div class="well well-sm">
    <form class="form-inline">
        <div class="form-group">
            <label for="search">Search item:</label>
            <div class="btn-group">
                <input class="form-control" type="text" id="search" ng-model="vm.filterValue">
                <span id="searchclear" class="glyphicon glyphicon-remove-circle" ng-click="vm.clear()" ng-show="vm.showClear()"></span>
            </div>
        </div>
        <div class="form-group">
            <label>Search over all items: </label>
            <toggle-switch ng-model="vm.filterOverAll" on-label="Yes" off-label="No" id="searchOverAll" class="switch-small"></toggle-switch>
        </div>
        <div class="form-group">
            <label>Only cubable items: </label>
            <toggle-switch ng-model="vm.onlyCubable" on-label="Yes" off-label="No" id="searchOverAll" class="switch-small"></toggle-switch>
        </div>
        <div class="form-group">
            <label>Hide cubed items: </label>
            <toggle-switch ng-model="vm.hideCubed" on-label="Yes" off-label="No" id="searchOverAll" class="switch-small"></toggle-switch>
        </div>
    </form>
</div>