// TODO: use variable for color
.table-kenais {
  tbody {
    tr:nth-of-type(6n+1),
    tr:nth-of-type(6n+2),
    tr:nth-of-type(6n+3)
    {
      background-color: #3d3d3d;

      &:hover{
        //background-color: red;
      }
    }
  }
}