//noinspection CssUnknownTarget
@import "fontawesome/less/variables.less";
//noinspection CssUnknownTarget
@import "bootswatch/darkly/variables.less";

.table-kenais {
  tbody {
    tr:nth-of-type(6n+1),
    tr:nth-of-type(6n+2),
    tr:nth-of-type(6n+3) {
      background-color: @table-bg-accent;
    }
    td.check {
      &:hover {
        background-color: @table-bg-active;
      }
      &.checked {
        i.item-checked:before {
          content: @fa-var-check;
        }
      }
    }
  }
}