<nav >
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Diablo 3 Item Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);" ng-click="vm.showDisclaimer()"><i class="fa fa-info-circle"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{vm.gameMode() | capitalize}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="gm in vm.gameModes" ng-click="vm.setGameMode(gm)"><a href="javascript:void(0);">{{gm|capitalize}}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{vm.season() | capitalize}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="s in vm.seasons" ng-click="vm.setSeason(s)"><a href="javascript:void(0);">{{s|capitalize}}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{vm.className() | capitalize}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="c in vm.classes" ng-click="vm.setClass(c)"><a href="javascript:void(0);">{{c.name|capitalize}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
