<div ng-repeat="section in vm.sections" ng-show="vm.section() == section">
    <table class="table">
        <thead>
            <th colspan="2">Name</th>
        </thead>
        <tr ng-repeat="item in vm[section] | orderBy:'name' | filter: main.search">
            <td >{{item.name}}</td>
            <td>
                <button
                    class="btn btn-default"
                    ng-class="{'btn-danger': !vm.isVisible(item), 'btn-success': vm.isVisible(item)}"
                    ng-click="vm.toggleVisibility(item)">
                    {{vm.isVisible(item) ? 'visible': 'hidden'}}
                </button>
            </td>
        </tr>
    </table>
</div>